.messages__header {
    margin: 0;
    text-align: center;
  }
  
  .messages__container {
    text-align: center;
  }
  
  .messages__button {
    display: flex;
    justify-content: end;
  }
  
  .messages__text {
    width: 100%;
  }